@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/* 공동 영역 */
body {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px !important; /* fixed font-size */
    letter-spacing: -1px !important; /* 글자 사이에 간격 */
    color: #444 !important;
    word-wrap: break-word !important;
    line-height: 1 !important; /* 줄 간격, 1이면 16px */
}

dl, ol, ul {
    margin-bottom: 0 !important;
}

#container a:hover {
    color: #000 !important;
}
a:link { /* a태그 링크 색상 */
    color: #444;
}
a:hover { 
    color: #FFF !important; 
}

a:visited {
    color: #444;
}

a {
    text-decoration: none; /* 링크의 밑줄 제거 */
}

/* /공통 영역 */

/* 부트스트랩 CSS 수정 */
.txt-right {
    text-align: right !important;
}

.mt20 {
    margin-top: 20px !important;
}

.w100p {
    width: 100% !important;
}

.clear::after {
    content: '';
    clear: both; /* float 속성을 초기화 */
    display: block; /* float 속성은 display를 없애는데 이를 다시 복구 */
}
/* /부트스트랩 CSS 수정 */

/* 헤더 영역 */
.on { /*  .클래스선택자*/
    background: #32353D;
}

header {
    height: 90px;
    text-align: center;
    z-index: 200; 
    background: rgba(0, 0, 0, 0.5); /* 순서대로 R, G, B, 투명도 */
    position: absolute; /* absolute를 주면 위치와 넓이를 지정해 줘야 한다. */
    left: 0;
    top: 0;
    width: 100%;
}

.box-inner {
    width: 100%;
    margin: 0 auto;
}

/* /헤더 영역 */

/* 로고 영역 */
.header_area h1 {
    float: none;
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 3px 0px 0px; /* 3px(상하), 0px(좌) 0px(우) */
}

.header_area h1 a { /* 웹 접근성을 지키기 위해 a태그로 이미지를 삽입 */
    display: inline-block;
    width: 150px;
    height: 80px;
    background: url(../img/logo.png);
    background-size: 50px 60px !important; /* 가로 50px 세로 60px */
    background-position: center center; /* 가로 가운데, 세로 가운데 */
    background-repeat: no-repeat;
    /* 들여쓰기, 이미지만 보이고 글자는 숨기기(스크린 리더기로는 읽을 수 있다) */
    text-indent: -9999px;
    overflow: hidden;
}
/* /로고 영역 */

/* 상단메뉴영역 */
.openMOgnb {
	/* gnb: global navigation bar 약자 메뉴명으로 사용 */
	display: block;
	position: absolute;
	left: 15px;
	top:35px;
	width: 25px;
	height: 16px;
}
.hdd {
	text-indent: -9999px;
	position: absolute;
}
.openMOgnb span{
	box-sizing: border-box;/* 박스크기를 테두리까지 크기로 고정*/
	display: block;
	width: 25px; height: 3px;
	margin-bottom: 4px;
	border-radius: 10px;/* 테두리 라운드 처리 */
	background: #fff;
}
.openMOgnb span:first-of-type + span {width: 17px;} /* +형제 인접연자 */
.openMOgnb span:last-child {
	/* width: 25px; */
	margin-bottom: 0px;
}
.header_cont {
	float: none;
	width: 100%;
	background: #31353d;
	margin-top: 36px;
	display: none;
}
.closePop {
	display: block;
	position: absolute;
	right: 0;
	top: 15px;
}
.closePop a {
	display: block;
	width: 60px; height: 60px;
	text-indent: -9999px;
	overflow: hidden;
	background: url(/home/img/btn_closeMenu.png) no-repeat;
	background-size: 60px;
}
.util {padding: 20px;}
.header_cont a {
	color: #fff; font-size: 16px;
}
.util li {float: left;}
.util li::after {
	/* ::가상요소를추가 */
	content:'|';
	display: inline-block;
	padding: 0 10px;
	color: #a2a2a3;
	font-size: 10px;
	position: relative;
	top: -2px;
}
.util li:last-child::after{
	/* 가상선택자 마지막 태그에서 가상요소 추가 */
	content: '';	
	display: none;
}
.gnb {
	float: none;
	box-sizing: border-box;
	padding-top: 0px;
	height: auto;
	border-top: 1px solid #83868b;
}
.gnb li {
	float: left;
	width: 50%;
	text-align: left;
	box-sizing: border-box;/* width 50% 안쪽에 테두리 까지 포함*/
	border-bottom: 1px solid #83868b;
}
.gnb li a {
	display: block;
	padding: 0px 0px 0px 65px;
	height: 60px;
	line-height: 60px;
	background: url(../img/ico_gnb01.png) no-repeat 10px center;/* 10px가로위치,center 세로가운데정렬 */
	background-size: 49px 56px;
}
.gnb_depth {
	/* 2차(서브)메뉴 */
	display: none;
}
.gnb li + li a { /* 1차 (대메뉴) li 태그중 2번째 영역 */
	background-image: url(../img/ico_gnb02.png);
}
.gnb li + li + li a { /* 1차 (대메뉴) li 태그중 3번째 영역 */
	background-image: url(../img/ico_gnb03.png);
}
.gnb li + li + li + li a { /* 1차 (대메뉴) li 태그중 4번째 영역 */
	background-image: url(../img/ico_gnb04.png);
}
.gnb li:nth-child(2n+1) {
	/* 2n+1 홀수번째의 li태그를 말함 */
	border-right: 1px solid #83868b;
}		
/* //상단메뉴영역 */
/* 본문컨테이너영역 */
#container, footer, .hdd, .quick_area {
	text-align: center;
}
#container {
	position: relative;
	width: 100%;
	padding-bottom: 30px;
}
/* 슬라이드영역 */
.main_rolling_pc{
	display: block;
}
.visualRoll {
	position: relative;
	width: 100%;
}
.viewImgList {
	position: relative;
	width: 100%;
}
ul.viewImgList li {
	/* ul.클래스명: ul 태그중 클래스명이 viewImgList 영역 */
	text-align: center;
	height: 300px;
	line-height: 550px;
	background-size: cover;/* 배경 이미지의 크기를 꽉 채우는 값 cover */
	width: 100%;
}
.roll_content a img{
	display: none;
}
li.imglist0 {
	position: relative;
	z-index: 50;
	background: url(../img/slide1.jpg) no-repeat;
}
li.imglist1 {
	position: absolute;
	z-index: 10;
	left: 0; top: 0;
	background: url(../img/slide2.jpg) no-repeat;
}
li.imglist2 {
	position: absolute;
	z-index: 10;
	left: 0; top: 0;
	background: url(../img/slide3.jpg) no-repeat;
}
.roll_content {
	position: static;
}
.roll_content .roll_txtline {
	position: absolute;
	left: 0;
	bottom: 60px;/* roll_content하단에서 60px 위에 위치 */
	width: 100%;
	line-height: 1;
	text-align: center;
	font-size: 22px;
	color: #fff;
	letter-spacing: 2px;
}
.rollbtnArea {
	position: absolute;/* 위치를 기준위치에서  고정시켜 놓겠다. */
	width: 100%;
	left: 0;
	bottom: 25px;
	z-index: 200;
}
.rollingbtn {
	width: 320px;
	margin: 0 auto; /* 버튼영역에 5개 들어가고, 가운데 정렬 시킴 */
	text-align: center;
}
.rollingbtn li.butt0 {
	margin-left: 10px;
}
.rollingbtn li {
	display: inline-block;
	margin-left: 5px;
}
.rollingbtn li a {
	vertical-align: top;/* img하고 다른태그 사용시 다른 태그의 세로 정렬 */
}
/* //슬라이드영역 */
/* 갤러리 최근게시물 영역 */
.about_area h2 {
	font-size: 20px;
	padding: 27px 0px 25px; /* 상하27 좌0 우25 순서 */
}
.about_area h2 b {
	display: block;/* 1개 라인 영역 모두차지 */
	padding-top: 10px;
}
.about_box {background: #fff;}
.place_list li {
	float: none;
	width: 100%;
	margin: 0;
	box-sizing: border-box;
	padding: 0px 20px;
}
.place_list li img {
	width: 100%; /* 가로크기 반응형으로 만드는 방법 ~%표시 */
}
.place_list li h3 {
	font-weight: bold;
	font-size: 18px;
	padding-top: 25px;
}
.place_list p.txt {
	padding: 10px 50px 30px;
	line-height: 1.4;
	box-sizing: border-box;
	width: 100%;
	overflow:hidden;
	word-break: keep-all;
	color: #666;
}
.place_list li .view{
	padding-bottom: 10px;
	margin: 0px 0px 30px;
	display: inline-block;
	padding-top: 5px;
	border-top: 2px solid #333;
	color: #666;
}
/* //갤러리 최근게시물 영역 */
/* 공지사항 최근게시물 영역 */
.app_line{display: none;} /* 태블릿, PC 전용 컨텐츠입니다. */
.appbbs_area {
	padding: 0px 20px;
	text-align: left;
}
.bbs_line {
	float: none;
	width: 100%;
	padding: 20px 0px;
	border-top: 1px  solid #d6d7d8;
}
.bbs_line h3 {
	font-weight: bold;
	font-size: 19px;
}
.bbs_line .notice_recent {
	padding-top: 10px;
}
.bbs_line .notice_recent li {
	padding: 8px 0px;
}
/* //공지사항 최근게시물 영역 */

/* //본문컨테이너영역 */
/* 푸터 스타일 지정*/
footer {
	border-top: 1px solid #ddd;
	text-align: left;
}
.foot_area { /* 모바일에서는 의미없고, 테블릿상에서 의미있는 스타일 */
	box-sizing: border-box;
	padding: 0px 20px 90px;
	position: relative; /* realativ가 있다는 것은 foot_area 안쪽에 태그의 기준으로 사용한단의미 */
}
.foot_list {
	padding-top: 25px;
}
.foot_list li {
	float: left; /* 세로배치 컨텐츠를 가로로 배치할때 사용 */
}
.foot_list li:first-child::after {
	content: '|';
	display: inline-block;
	padding: 0px 10px;
	font-size: 10px;
	position: relative;
	top: -2px;
}
.foot_list li a {
	font-weight:  bold;
	font-size: 15px;
}
.foot_list li a:hover {color: black !important;}
.foot_area h2 {
	padding-top: 15px;
	font-size: 14px; /* px:픽셀pixel html크기 단위, 기타단위: em, rem(root em) */
	color: #666;
}
.addr {
	line-height: 1.3;/* 줄간격1.3배 */
	font-size: 14px;
	color: #767676;
	padding-top: 5px;
}
.br_line {
	display: block; /* 블럭영역은 1줄모두 자리차지 = 엔터 = 줄바꿈 */
}
.copy {
	padding: 3px 0px 20px;
	font-size: 14px;
	color: #767676;
}
.snslink {
	position: static;/* 다른태그기준 static=고정값, relative=상대값 */
	width: 210px;
	margin: 10px auto;/* 10px상하여백, auto 좌우 가운데정렬 */
}
.snslink li:first-child {
	margin-left: 0px;
}
.snslink li {
	margin-left: 30px;
	float: left;/* 리스트li태그의 세로배치를 가로배치로 변경할때 사용 */
}
.snslink li a {
	display: block;
	width: 50px;
	height: 74px;
	text-indent: -9999px; /* 들여쓰기, 글자를 숨김 하는이유:웹접근성(시각장애인용처리) */
	overflow: hidden;
	background: url(../img/ico_blog_.pnh.png)no-repeat;
}
.snslink li + li a {/* 인접(형제)연산자+, sibling(시블링) */
	background-image: url(../img/ico_facebook_r.png);
}
.snslink li + li + li a {
	background-image: url(../img/ico_instargram_r.png);
}
/* 퀵메뉴영역 */
.to_top {
	position: fixed;/* 붙박이(고정):스크롤 해도 항상 그자리 고정. */
	right: 20px;
	bottom: 100px;
	text-align:center;
	background: none;
	z-index: 100;/* 슬라이드 이미지200 보다는 아래이기때문에 겹치면 안보임 */
}
.to_top a {
	display: block;
	width: 45px;
	height: 45px;
	background: url(../img/ico_totop_mo.png) no-repeat center;
	background-size:  45px;
	text-indent: -9999px;
}
/* //퀵메뉴영역 */
/* //푸터 스타일 지정 */