@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/* 공동 영역 */
body {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px !important; /* fixed font-size */
    letter-spacing: -1px !important; /* 글자 사이에 간격 */
    color: #444 !important;
    word-wrap: break-word !important;
    line-height: 1 !important; /* 줄 간격, 1이면 16px */
}

dl, ol, ul {
    margin-bottom: 0 !important;
}

#container a:hover {
    color: #000 !important;
}
a:link { /* a태그 링크 색상 */
    color: #444;
}
a:hover { 
    color: #FFF !important; 
}

a:visited {
    color: #444;
}

a {
    text-decoration: none; /* 링크의 밑줄 제거 */
}

/* /공통 영역 */

/* 부트스트랩 CSS 수정 */
.txt-right {
    text-align: right !important;
}

.mt20 {
    margin-top: 20px !important;
}

.w100p {
    width: 100% !important;
}

.clear::after {
    content: '';
    clear: both; /* float 속성을 초기화 */
    display: block; /* float 속성은 display를 없애는데 이를 다시 복구 */
}
/* /부트스트랩 CSS 수정 */

/* 헤더 영역 */
.on {
    background: #32353D;
}

header {
    height: 90px;
    text-align: center;
    z-index: 200; 
    background: rgba(0, 0, 0, 0.5); /* 순서대로 R, G, B, 투명도 */
    position: absolute; /* absolute를 주면 위치와 넓이를 지정해 줘야 한다. */
    left: 0;
    top: 0;
    width: 100%;
}

.box-inner {
    width: 100%;
    margin: 0 auto;
}

/* /헤더 영역 */

/* 로고 영역 */
.header_area h1 {
    float: none;
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 3px 0px 0px; /* 3px(상하), 0px(좌) 0px(우) */
}

.header_area h1 a { /* 웹 접근성을 지키기 위해 a태그로 이미지를 삽입 */
    display: inline-block;
    width: 150px;
    height: 80px;
    background: url(../img/logo.png.jpg);
    background-size: 50px 60px !important; /* 가로 50px 세로 60px */
    background-position: center center; /* 가로 가운데, 세로 가운데 */
    background-repeat: no-repeat;
    /* 들여쓰기, 이미지만 보이고 글자는 숨기기(스크린 리더기로는 읽을 수 있다) */
    text-indent: -9999px;
    overflow: hidden;
}
/* /로고 영역 */

/* 상단메뉴영역 */
.openMOgnb {
	/* gnb: global navigation bar 약자 메뉴명으로 사용 */
	display: block;
	position: absolute;
	left: 15px;
	top:35px;
	width: 25px;
	height: 16px;
}
.hdd {
	text-indent: -9999px;
	position: absolute;
}
.openMOgnb span{
	box-sizing: border-box;/* 박스크기를 테두리까지 크기로 고정*/
	display: block;
	width: 25px; height: 3px;
	margin-bottom: 4px;
	border-radius: 10px;/* 테두리 라운드 처리 */
	background: #fff;
}
.openMOgnb span:first-of-type + span {width: 17px;} /* +형제 인접연자 */
.openMOgnb span:last-child {
	/* width: 25px; */
	margin-bottom: 0px;
}
.header_cont {
	float: none;
	width: 100%;
	background: #31353d;
	margin-top: 36px;
	display: none;
}
.closePop {
	display: block;
	position: absolute;
	right: 0;
	top: 15px;
}
.closePop a {
	display: block;
	width: 60px; height: 60px;
	text-indent: -9999px;
	overflow: hidden;
	background: url(/home/img/btn_closeMenu.png) no-repeat;
	background-size: 60px;
}
.utll {padding: 20px;}
.header_cont a{
	color: #fff; font-size: 16px;
}
.util li {float: left;}
.util li::after {
	/* ::가상요소를추가 */
	content:'|';
	display: inline-block;
	padding: 0 10px;
	color: #a2a2a3;
	font-size: 10px;
	position: relative;
	top: 2px;
}
.util li:last-child::after{
	/* 가상선택자 마지막 태그에서 가상요소 추가 */
	content: '';	
	display: none;
}
.gnb {
	float: none;
	box-sizing: border-box;
	padding-top: 0px;
	height: auto;
	border-top: 1px solid #83868b;
}
.gnb li {
	float: left;
	width: 50%;
	text-align: left;
	box-sizing: border-box;/* width 50% 안쪽에 테두리 까지 포함*/
	border-bottom: 1px solid #83868b;
}
.gnb li a {
	display: block;
	padding: 0px 0px 0px 65px;
	height: 60px;
	line-height: 60px;
	background: url(./img/ico_gnb01.png) no-repeat 10px center;/* 10px가로위치,center 세로가운데정렬 */
	background-size: 49px 56px;
}
.gnb_depth {
	/* 2차(서브)메뉴 */
	display: none;
}
.gnb li + li a { /* 1차 (대메뉴) li 태그중 2번째 영역 */
	background-image: url(./img/ico_gnb02.png);
}
.gnb li + li + li a { /* 1차 (대메뉴) li 태그중 3번째 영역 */
	background-image: url(./img/ico_gnb03.png);
}
.gnb li + li + li + li a { /* 1차 (대메뉴) li 태그중 4번째 영역 */
	background-image: url(./img/ico_gnb04.png);
}
.gnb li:nth-child(2n+1) {
	/* 2n+1 홀수번째의 li태그를 말함 */
	border-right: 1px solid #83868b;
}		
/* //상단메뉴영역 */